*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2f2f2;
    padding: 0 10px;
    max-height: 100vh;
}
.container{
    background: #fff;
    padding: 30px;
    border-radius: 9px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 400px;
    max-width: 400px;
    padding: 30px;
    overflow: hidden;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.form-group{
    margin-bottom: 15px;
    position: relative;
}
label{
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}
input:focus{
   outline: none;
    border-color: #007BFF;
}
small{
    color: red;
    position: absolute;
    bottom: -18px;
    left: 0;
    font-size: 12px;
    visibility: hidden;
    padding: 4px;
}
button{
    width: 100%;
    padding: 10px;
    background: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover{
    background: #0056b3;
}
.form-group.error input{
    border-color: red;
}
.form-group.success input{
    border-color: green;
}
.form-group.error small{
    visibility: visible;
    color: red;
}